<div class="container">
  <div class="row m-5">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-12">
      <h2 class="text-center">
        <img src="assets/img/icons/administrador.png" alt="" width="100" height="100" class="d-inline-block">
        Gestión de Usuarios Administradores
      </h2>
    </div>
  </div>

  <form class="row g-3 needs-validation" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-2 py-12 justify-content-center mb-2">
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" formControlName="firstName">
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-2 py-12 justify-content-center mb-2">
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Apellidos</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" formControlName="lastName">
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-2 py-12 justify-content-center mb-2">
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Género</span>
          <select class="form-select" aria-label="Default select example" formControlName="gender">
            <option value="man">Hombre</option>
            <option value="woman">Mujer</option>
            <option value="other">Otro</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 py-12 justify-content-center mb-2">
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Fecha Nacimiento</span>
          <input type="date" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" formControlName="birthDate">
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2 py-12 justify-content-center mb-2">
        <button class="btn btn-primary" type="submit">Agregar</button>
      </div>

    </div>
  </form>

  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Género</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminado Temporal</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of administrators;">
            <th scope="row">{{admin.id}}</th>
            <td>{{admin.firstName}}</td>
            <td>{{admin.lastName}}</td>
            <td>{{admin.gender}}</td>
            <td>{{admin.birthDate}}</td>

            <td *ngIf="admin.deleted=='N'"><button class="btn btn-success"
                (click)="modifyAdmin(admin.id)">Modificar</button></td>
            <td *ngIf="admin.deleted=='Y'"><button class="btn btn-danger" (click)="modifyAdmin(admin.id)"
                disabled>Modificar</button>
            </td>

            <td *ngIf="admin.deleted=='N'"><button class="btn btn-success" (click)="deleteAdmin(admin.id)">Eliminar
                Temporal</button></td>
            <td *ngIf="admin.deleted=='Y'"><button class="btn btn-warning"
                (click)="restoreAdmin(admin.id)">Restaurar</button></td>


            <td *ngIf="admin.deleted=='N'"><button class="btn btn-secondary"
                (click)="deleteAdminID(admin.id)">Eliminar</button></td>
            <td *ngIf="admin.deleted=='Y'"><button class="btn btn-secondary" (click)="deleteAdminID(admin.id)"
                disabled>Eliminar</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
