<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-12">
      <h1 class="text-center">
        <img src="assets/img/documentos.png" alt="" width="100" height="100" class="d-inline-block">
        Sistema Manejo de Documentos
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 py-12">
      <p class="fs-4" style="text-align: justify;">
        El Sistema de Manejo de Documentos es una herramienta esencial para cualquier organización que necesite
        almacenar y gestionar una gran cantidad de información. Este sistema permite a los usuarios administradores
        subir, crear y categorizar documentos, lo que facilita su búsqueda y recuperación posterior.
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 py-12">
      <p class="fs-4" style="text-align: justify;">
        Los usuarios consultores pueden buscar documentos utilizando diferentes criterios, como el tipo de
        documento,
        el subtipo,
        las etiquetas, el nombre del archivo y la fecha de carga. El sistema también permite la descarga y el
        borrado
        de
        documentos.
      </p>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/icons/documento.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Documentos</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para Documentos.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/noImage.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">SubTipo</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para SubTipo de Documentos.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/noImage.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Tipo</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para Tipo de Documentos.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/icons/etiqueta.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Tags</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para Tags de Documentos.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/icons/office.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Oficinas</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para Oficinas.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/icons/consultoria.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Consultores</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para Usuarios Consultores.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 py-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 15rem;">
        <img src="assets/img/icons/administrador.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Administradores</h5>
          <p class="card-text text-center">En este sistema se pueden gestionar un CRUD para Usuarios
            Administradores.
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
