<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/documentos.png" alt="" width="50" height="50" class="d-inline-block">
      Manejo Documentos
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#">Visualizar Documentos</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Gestionar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Subtipo</a></li>
            <li><a class="dropdown-item" href="#">Tipo</a></li>
            <li><a class="dropdown-item" href="#">Tags</a></li>
            <li><a class="dropdown-item" href="#">Documento</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/office">Oficina</a></li>
            <li><a class="dropdown-item" href="#">Usuario</a></li>
            <li><a class="dropdown-item" routerLink="/admin">Administrador</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">


        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
            aria-expanded="false">
            <img src="assets/img/usuario.png" alt="" width="50" height="50" class="d-inline-block">
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><button class="dropdown-item" type="button">Ver Perfil</button></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" type="button">Cerrar Sesión</button></li>
          </ul>
        </div>

      </form>
    </div>
  </div>
</nav>
